/* #heading{
    color: red;
} */
 h1{
   color: blueviolet;
   background-color: #c88d8d;
 }
 h2{
    color: brown;
    background-color: #c88d8d;
 }
  h3{
   color: blue;
   background-color: aqua;
 }
 h4{
    color: red;
    background-color: aqua;
 }